
<% include ../partials/header %>
<div class="formbg">
    <div align="center">
        <a href = "/car/addcar" class="btn btn-warning btn-lg">Add Car</a>
        <a href = "/car/showcar" class="btn btn-primary btn-lg">Show Cars</a>
        <a href = "/admin/showUsers" class="btn btn-warning btn-lg">All Users</a>
        <a href = "/admin/verifyUser" class="btn btn-primary btn-lg">Awaiting to Verify</a>
    </div>
</div>
<% include ../partials/footer %>