<% include ../partials/header %>

    <div class="form" align="center">
        <p><h1> Register </h1></p>
        <form action = "/user/register" method = "POST">
            <label for="fname">
                First Name:
            </label>
            <div class="form-group">
                <input class="form-control" type="text" name="fname">
            </div>

            <label for="lname">
                Last Name:
            </label>
            <div class="form-group">
                    <input class="form-control" type="text" name="lname">
            </div>

            <label for="age">
                Age:
            </label>
            <div class="form-group">
                    <input class="form-control" type="text" name="age">
            </div>

            <label for="city">
                City:
            </label>
            <div class="form-group">
                    <input class="form-control" type="text" name="city">
            </div>

            <label for="license">
                Driving License:
            </label>
            <div class="form-group">
                    <input class="form-control" type="text" name="license">
            </div>


            <label for="email">
                Email:
            </label>
            <div class="form-group">
                <input class="form-control" type="text" name="email">
            </div>

            <label for="phone">
                Phone:
            </label>
            <div class="form-group">
                <input class="form-control" type="text" name="phone">
            </div>

            <label for="username">
                    User Name:
                </label>
                <div class="form-group">
                    <input class="form-control" type="text" name="username">
                </div>
    
                <label for="password">
                    Password:
                </label>
                <div class="form-group">
                    <input class="form-control" type="password" name="password">
                </div>

                <button class="btn btn-primary">Register</button>
    </div>

               
        </form>
    </div>


    <% include ../partials/footer %>